<form action="" method="POST">

    <div class="container m-4 p-2 border border-primary">

        <h1 class="text-center">Registro de Artículo</h1>



    <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="IdArticulo">IdArticulo:</label>
                    <input type="Text" class="form-control" name="IdArticulo" placeholder="...." value="">
                </div>
            </div>
        </div>


        <div class="col-3">
                <div class="form-group border border-success p-2">
                    <label class="text-center" for="exampleFormControlSelect1">Seleccione una familia</label>
                    <select class="form-control" name="Familia" id="exampleFormControlSelect1">
                        <option value="A">Familia A</option>
                        <option value="B">Familia B</option>
                        <option value="C">FAmilia C</option>

                    </select>
                </div>


         </div>


    <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" name="Descripcion" value="" placeholder="......">
                </div>
            </div>
    </div>

    
    <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="text" class="form-control" name="Stock" value="" placeholder="......">
                </div>
            </div>
    </div>

   
    <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="precioventa">Precio venta:</label>
                    <input type="number" step= "any" class="form-control" name="PrecioVenta" value="" placeholder="......">
                </div>
            </div>
    </div>

    <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="preciocompra">Precio compra:</label>
                    <input type="number" step= "any" class="form-control" name="PrecioCompra" value="" placeholder="......">
                </div>
            </div>
    </div>

    <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="ImagenArticulo">Imagen Artículo:</label>
                    <input type="text" step= "any" class="form-control" name="ImagenArticulo" value="" placeholder="......">
                </div>
            </div>
    </div>

   
    <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Activo" id="inlineRadio1" checked="checked"
                        value="1">
                    <label class="form-check-label" for="inlineRadio1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Activo" id="inlineRadio2" value="0">
                    <label class="form-check-label" for="inlineRadio2">No Activo</label>
                </div>
    </div>

<div class="row">
            <div class="col">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                    <button type="reset" class="btn btn-danger btn-lg">Limpiar</button>

                </div>
            </div>
        </div>




</form>
 
{{#if error}}
    <p>{{error}}</p>
    {{/if}}

  