<div class="container-fluid">
  <form action="" method="post" enctype="multipart/form-data">

    <h3>Subir una imagen Artículo</h3>

    <div class="input-group mb-3">
      <input type="file" name="imagen" id="">
    </div>

    <hr>

    {{!-- <div>
      <img src="/img/covid.jpeg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
    </div> --}}

  <div class="row">
    <div class="col-1">

    <button type="submit" class="btn btn-primary">Subir</button>

    </div>

  </div>

  </form>
</div>