<div class="container-fluid">
  <form action="" method="post" enctype="multipart/form-data">

    <h3>Subir una imagen Artículo</h3>

    <div class="input-group mb-3">
      <input type="file" name="imagen" id="">
    </div>

    <hr>

  

  <div class="row">
    <div class="col-1">

    <button type="submit" class="btn btn-primary" onclick="alerta()">Subir</button>

    </div>

  </div>

  </form>
</div>
{{!-- muestra un mensaje al darle al botón de subir imagen --}}
<script>
  function alerta() {
    alert ("La imagen se ha subido correctamente");
  }
</script>
