  <div class="container-fluid">
<form action="" method="post">


  <h3>Subir una imagen Artículo</h3>

  <div class="input-group mb-3">
    

  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

  
<img src="/img/covid.jpeg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">

  
 

  

  <button type="submit" class="btn btn-primary">Subir</button>

</form>
</div>