
    <form class="form-inline my-2 my-lg-0">

      <div class="entry">
        {{#if session.usuario}}

        <h5>{{session.usuario.Nombre}}</h5>

        <a href="/login/logout" class="btn btn-primary" role="button" aria-pressed="true">Logout Cliente</a>

        {{/if}}
      </div>
    

    </form>

