
    <form class="form-inline my-2 my-lg-0">

      <div class="entry">
        {{#if session.usuario}}

        <h6>{{session.usuario.Nombre}}</h6>

        <a href="/login/logout" class="btn btn-danger" role="button" aria-pressed="true">Logout Cliente</a>

        {{/if}}
      </div>
    

    </form>

