
    <h1>Registro de nuevo clientito</h1>

    <form action="/cliente/nuevo" method="post">
        <label for="DNI">DNI</label>
        <input type="text" name="DNI" value="">
        <br>

        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" value="">
        <br>

        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" value="">
        <br>

        <label for="Email">Email</label>
        <input type="email" name="Email" value="">
        <br>

        <label for="Password">Contraseña</label>
        <input type="password" name="Password" value="">
        <br>

        <label for="Repassword">Repita la contraseña</label>
        <input type="password" name="Repassword" value="">
        <br>


        <input type="submit" value="Registrar">
    </form>


