<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">{{nombreEmpresa}}</h1>
    {{!-- <p class="lead">Contenido página</p> --}}
  </div>

</div>
<div>
  <div class="row">
    <div class="col-lg-12">
      <img src="img/covid.jpeg" class="rounded mx-auto d-block" style="width: 300px;" alt="Covid">

    </div>
  </div>