<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuarios</title>
</head>
<body>
    <h1>Lista de usuarios</h1>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
        {{#each usuarios}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{email}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</body>
</html>