<form action="" method="post" enctype="multipart/form-data" >


<h3>Subir una imagen Empleado</h3>

<div class="input-group mb-3">
  <input type="file" name="imagen" id="">
</div>



<button type="submit" class="btn btn-primary">Enviar</button>

</form>